.hero {
    background-image: url(../../src/images/background_principal.png);
    background-repeat: no-repeat;

    &__container {
        padding: 5.6vw;
        min-height: 80vh;
    }

    &__content {
        display: flex;
        gap: 18px;
        align-items: center;
        margin-bottom: 20px;
        font-family: Roboto, sans-serif;
        font-size: .75rem;
        color: #d4d4d4;
        padding-top: 80px;

        .icone_hero {
            max-height: 20px;
            height: 100%;
        }
    }

    .logo {
        padding-top: 100px;
        width: 500px;
    }

    .hero__content__buttons {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 40px;

        .button_start {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            gap: 8px;
            width: 375px;
            height: 40px;
            border-radius: 6px;
            font-size: 16px;
            background-color: #ccc6c6;
            text-transform: uppercase;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            letter-spacing: 1px;
            cursor: pointer;

            &:hover {
                background-color: #ffffff;
            }
        }

        .button_plus {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            max-width: 100px;
            transition: all .3s ease;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-size: .875rem;
            color: #f9f9f9;
            cursor: pointer;
    
            &:hover {
                background-color: #040714;
                opacity: 0.5;
            }
        }
    }

    .sumario {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        color: #a5a5a5;
        font-family: "Roboto",sans-serif;

        h3 {
            margin-bottom: 10px;
            font-size: 1rem;
            max-width: 650px;
            font-weight: 400;
        }

        .sumario_film {
            display: flex;
            gap: 16px;
            margin-bottom: 20px;
        }

        span {
            font-size: .875rem;
        }
    }
    
}

